@model ReviewsSite.Models.Album

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    <h1>Album List</h1>
    <p>Name: @Model.Name</p>
    <p>Band: @Model.BandName</p>
    <p>Description: @Model.Description. <img src="~/@Model.Image" width="250" /></p>

    @foreach (var song in Model.ListofSongs)
     {
       <ol>
           <li>@song</li>
       </ol>
     }


    @foreach (var review in Model.Review)
    {
        <p>
            @review.Content | @review.ReviewerName | @review.Rating

        </p>

    }



    @*<p>Song List</p>
        <ol>
            <li>  </li>
            <li> Sad But True</li>
            <li> Holier Than Thou</li>
            <li> The Unforgiven</li>
            <li> Wherever I May Roam</li>
            <li> Don't Tread on Me </li>
            <li> Through the Never </li>
            <li> Nothing Else Matters </li>
            <li> Of Wolf and Man</li>
            <li> The God That Failed </li>
            <li> My Friend of Misery</li>
            <li> The Struggle Within</li>
        </ol>*@



</body>
</html>

@{
}