@model IEnumerable<ReviewsSite.Models.Album>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    @*<p><a href="/Album/Detail/">Album Details</a></p>*@

    @foreach (var Album in Model)
    {
        <p>Name: <a href="/Album/Detail/@Album.Id">@Album.Name</a></p>

    }


    <p><a href="/Review/">Filler</a></p>


    @*<h1>Album List</h1>
        <h2>Name: @Model.Name</h2>
        <h3>Band: @Model.BandName</h3>
        <p>Description: @Model.Description. <img src="~/Images/Metallica-Black-Album.jpg" /> </p>*@

    @*<h2>Name: @Model.Name</h2>
        <h3>Band: @Model.BandName</h3>
        <p>Description: @Model.Description. <img src="~/Images/Metallica-Black-Album.jpg" /> </p>*@
    <!--<p>Song List</p>
    <ol>
        <li> Enter Sandman </li>
        <li> Sad But True</li>
        <li> Holier Than Thou</li>
        <li> The Unforgiven</li>
        <li> Wherever I May Roam</li>
        <li> Don't Tread on Me </li>
        <li> Through the Never </li>
        <li> Nothing Else Matters </li>
        <li> Of Wolf and Man</li>
        <li> The God That Failed </li>
        <li> My Friend of Misery</li>
        <li> The Struggle Within</li>
    </ol>-->


</body>
</html>
